.messages {
  height: 10rem;
  width: 100%;
  overflow-x: scroll;
  background-color: white;
  color: black;
  border: 2px solid coral;
}

.message {
  background-color: coral;
  border: 2px solid white;
}
