@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/global.scss' as *;
@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/typography.scss' as *;
.button {
  @include flex(row, center, center);
  @include interface-border-raised;
  background-color: $interface-gray;
  padding: 2px 4px;
  font-size: 1.25rem;
  gap: 1rem;

  &:active {
    @include interface-border-lowered;
    background-color: $interface-gray-shaded;
  }

  &__icon {
    width: 20px;
    height: 20px;
  }
}

.button-depressed {
  @extend .button;
  @include interface-border-lowered;
  background-color: $interface-gray-shaded;
}

.calc-button {
  @extend .button;

  min-width: 25%;
}

.start-button {
  font-size: 1.25rem;
  @extend .button;
  @include flex(row, flex-start, center);
  border: none;
  gap: 1rem;
  width: 100%;
  background-color: $interface-gray;

  &:hover {
    background-color: $interface-gray;
    background-color: $interface-dark-blue;
    color: white;
  }

  &:active {
    color: white;
    background-color: $interface-dark-blue;
    border: none;
  }
}

.chat-button {
  @extend .button;
  min-width: fit-content;
  height: 100%;
}

.disabled {
  @extend .button;
  color: $interface-gray-shaded;
  cursor: not-allowed;

  &:active {
    @include interface-border-raised;
    color: $interface-gray-shaded;
    background-color: $interface-gray;
    cursor: not-allowed;
  }
}

.toolbar {
  @extend .button;
  @include flex(row, center, center);
  min-width: 40px;
  padding: 0.25rem;
  text-align: center;
  background-color: $interface-gray;
  font-weight: bold;
}

$border-highlight: #fff8ee;
$border-shaded: #1f2020;

.desk-icon {
  color: white;
  @include flex(column, center, center);
  background-color: transparent;
  border: none;
  width: fit-content;
  margin-bottom: 1rem;
}

.desk-icon .button__icon {
  width: 100%;
  height: auto;
}
