@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/variables.scss' as *;

.button {
  @include flex(row, center, center);
  @include interface-border-raised;
  background-color: $interface-gray;
  padding: 2px 4px;
  font-size: 1.25rem;
  gap: 1rem;

  &:active {
    @include interface-border-lowered;
    background-color: $interface-gray-shaded;
  }

  &__icon {
    width: 20px;
    height: 20px;
  }
}

.calc-button {
  @extend .button;

  min-width: 25%;
}

.start-button {
  font-size: 1.25rem;
  @extend .button;
  @include flex(row, flex-start, center);
  border: none;
  gap: 1rem;
  width: 100%;
  background-color: $interface-gray;

  &:hover {
    background-color: $interface-gray;
    background-color: $interface-dark-blue;
    color: white;
  }
}

.chat-button {
  @extend .button;
  min-width: fit-content;
}
