@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/variables.scss' as *;

.button {
  @include flex(row, center, center);
  @include interface-border-raised;
  background-color: $interface-gray;
  padding: 2px 4px;
  gap: 1rem;

  &:active {
    @include interface-border-lowered;
    background-color: $interface-gray-shaded;
  }

  &__icon {
    width: 20px;
    height: 20px;
  }
}

.calc-button {
  @extend .button;
  color: red;
  min-width: 25%;
}
