@font-face {
  font-family: 'System Font';
  src: url('./src/assets/fonts/w95fa.woff2') format('woff2');
  weight: 400;
}

@font-face {
  font-family: 'Jacquard';
  src: url('./src/assests/fonts/Jacquard24-Regular.ttf') format('truetype');
  weight: 400;
}
