// ------------------------------
// Breakpoints
// ------------------------------
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// ------------------------------
// Colors
// ------------------------------

$interface-gray: #d4d0c8;
$interface-gray-active: #c7c2ba;

$border-highlight: #fff8ee;
$border-shaded: #1f2020;

$toolbar-height: 2.5rem;
