@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/global.scss' as *;
@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/typography.scss' as *;

.screen {
  @include flex(column, space-between, space-between);
  position: relative;
  background-color: #008080;
  height: 100vh;
  width: 100%;
}
