@use '../../styles/partials/global' as *;

@import '../../styles/partials/variables.scss';

.tool-bar {
  width: 100vw;
  padding: 2px;
  height: fit-content;
  background-color: $interface-gray;
  justify-self: flex-end;
  align-self: flex-end;
}
