@use '../../styles/partials/global' as *;
@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/mixins.scss' as *;

.tool-bar {
  @include no-highlight;
  @include flex(row, space-between, center);
  width: 100vw;
  padding: 2px;
  height: fit-content;
  background-color: $interface-gray;
  justify-self: flex-end;
  align-self: flex-end;
  padding: 4px;
  width: 100%;

  &__buttons {
    @include flex(row, flex-start, center);
    gap: 1rem;

    &-start {
      margin-right: 1rem;
    }
  }
}
