@use '../../styles/partials/global.scss' as *;
@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/variables.scss' as *;

.calculator {
  @include flex(column, center, center);
  @include no-highlight;

  background-color: white;
  height: 100%;
  width: 100%;
  &_file-bar {
    border: 2px solid green;
    height: 4rem;
    width: 100%;
  }
  &_display {
    @include interface-border-raised;
    height: 2rem;
    width: 100%;
    background-color: white;
  }
  &_buttons {
    @include flex(column, center center);
    width: 90%;
    height: 100%;
    border: 2px solid green;

    &-row {
      width: 100%;
      border: 2px solid coral;

      &-btn {
        height: 2rem;
        width: 25%;
      }
    }
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
