@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/global.scss' as *;
@use '../../styles/partials/variables.scss' as *;

.pet-app {
  height: 100%;
  width: 100%;
  background-color: white;
  @include flex(column, flex-start, center);
  &__needs {
    width: 100%;
    border: 2px solid coral;
    height: 10%;
    @include flex(row, space-evenly, center);
    padding: 0.5rem;
    &-hunger {
      border-radius: 500px;
      height: 100%;
      width: 10rem;
      border: 2px solid red;
      &-meter {
        height: 100%;
        width: 100%;
        background-color: red;
      }
    }
    &-happiness {
      border-radius: 500px;

      height: 100%;
      width: 10rem;
      border: 2px solid green;
      &-meter {
        height: 100%;
        width: 100%;
        background-color: green;
      }
    }
    &-hygiene {
      border-radius: 500px;

      height: 100%;
      width: 10rem;
      border: 2px solid yellow;
      &-meter {
        height: 100%;
        width: 100%;
        background-color: yellow;
      }
    }
  }
  &__actions {
    @include flex(row, center, center);
    gap: 2rem;
    width: 100%;
    height: 20%;
    border: 2px solid coral;
    padding: 1rem;

    &-feed {
      background-color: red;
    }

    &-play {
      background-color: green;
    }
    &-bath {
      background-color: yellow;
    }
  }
  &__pet-display {
    @include flex(row, center, center);
    border: 2px solid coral;
    height: 80%;
    width: 100%;

    &-grungus {
      height: 20rem;
    }
  }
}

.action-button {
  height: 100%;
  border-radius: 50% 20% / 10% 40%;
  width: 20%;
}
