@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/global.scss' as *;
@use '../../styles/partials/variables.scss' as *;

.draggable-window {
  @include flex(column, flex-start, center);
  position: absolute;
  background-color: $interface-gray;
  @include interface-border-raised;
  height: 60vh;
  width: 33vw;
  padding: 2px;

  &_title-bar {
    padding: 0.25rem 0.25rem 0.25rem 0.25rem;
    @include flex(row, flex-end, space-between);
    width: 100%;
    background-color: $interface-dark-blue;
  }

  &_app-frame-outer {
    @include flex(column, center, center);
    @include interface-border-raised;
    width: 97%;
    height: 97%;
    margin: 0.5rem 0;
    background-color: #c0c0c0;
  }

  &_app-frame-inner {
    @include interface-border-lowered;
    width: 95%;
    height: 95%;

    background-color: white;
  }
}
