@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/global.scss' as *;
@use '../../styles/partials/variables.scss' as *;

.window {
  @include flex(column, flex-start, center);
  position: absolute;
  background-color: $interface-gray;
  @include interface-border-raised;

  width: 33vw;
  padding: 2px;

  &__title-bar {
    padding: 0.25rem 0.25rem 0.25rem 0.25rem;
    @include flex(row, flex-end, space-between);
    width: 100%;
    background-color: $interface-dark-blue;
  }

  &__application-frame {
    @include flex(column, center, center);
    width: 100%;
    height: 100%;
    margin: 0.5rem 0;
    border: 2px solid coral;
  }
}
