@use '../../styles/partials/global' as *;
@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/mixins.scss' as *;

.wyrm-game {
  @include flex(column, center, center);
  background-color: black;
  color: white;
  height: 100%;
  width: 100%;
}

.row {
  @include flex(row, flex-start, center);
}

.cell {
  width: 20px;
  height: 20px;
  border: 1px solid white;
}

.wyrm {
  background-image: url('./src/assets/images/aacd80bc5dfb9ee-84314742.png');
  background-position: center;
  background-size: contain;
}

.village {
  background-color: red;
}
