@use '../../styles/partials/global' as *;
@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/mixins.scss' as *;

.wyrm {
  @include flex(column, center, center);
}

.row {
  display: flex;
  @include flex(row, flex-start, center);
}

.cell {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
}

.wyrm {
  background-color: green;
}

.village {
  background-color: red;
}
